<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="myModule">
<head>
		<title>Sports Management Campaign</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<!-- js -->
		<script src="js/jquery.min.js"></script>
		<!-- //js -->
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Gaiety Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //for-mobile-apps -->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
    <div class="NewMenu">
        <ul class="ul">
            <li><a href="#home" class="scroll">Home</a></li>
            <li><a href="Pages/CampaignIndex.html" target="_blank">Campaign</a></li>
            <li><a href="Pages/EmployeeIndex.html" target="_blank">Employee</a></li>
            <li><a href="Pages/BattingScoreIndex.html" target="_blank">Batting Score</a></li>
            <li><a href="Pages/BowlingScoreIndex.html" target="_blank">Bowling Score</a></li>
            <li><a href="Pages/FinalBattingScore.html" target="_blank">Batting Final Score </a></li>
            <li><a href="Pages/FinalBowlingScore.html" target="_blank">Bowling Final Score</a></li>
            <li><a href="Pages/SponsorIndex.html" target="_blank">Sponsor</a></li>
            <li><a href="#portfolio" class="scroll">Portfolio</a></li>
            <li><a href="#about" class="scroll">About Us</a></li>
            <li><a href="#contact" class="scroll">Contact</a></li>
            <li><a href="/Generalindex.html">Logout</a></li>
        </ul>
    </div>
    <style>
        .ul{
           
            list-style:none;
        }
            .ul li {
                display: inline;
                padding:10px;
               font-weight:bold;
            }
        .NewMenu {
            background-color: #CCCCCC;
            color: white;
            padding: 15px;
            
        }
    </style>

    <!-- banner -->
    <div id="home" class="banner">
        <div class="container">
            <div class="navi">
                <div class="head-logo">
                    <a href="index.html"><img src="images/logo.png" alt=" "></a>
                </div>
                <div class="main-in">
                    <section>
                        <button id="showLeft" class="navig"></button>
                    </section>
                </div>
                <!--- Navigation from Right To Left --->
                <link rel="stylesheet" type="text/css" href="css/component.css" />
                <script src="js/modernizr.custom.js"></script>
                <script type="text/javascript">

                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-7243260-2']);
                    _gaq.push(['_trackPageview']);

                    (function () {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();

                </script>
                <!--<div class="cbp-spmenu-push">
                    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                        <h3>Menu</h3>
                        <a href="#home" class="scroll">Home</a>
                        <a href="Pages/CampaignIndex.html" target="_blank">Campaign</a>
                        <a href="Pages/EmployeeIndex.html" target="_blank">Employee</a>
                        <a href="Pages/BattingScoreIndex.html" target="_blank">Batting Score</a>
                        <a href="Pages//BowlingScoreIndex.html" target="_blank">Bowling Score</a>
                        <a href="Pages/FinalBattingScore.html" target="_blank">Batting Final Score </a>
                        <a href="Pages/FinalBowlingScore.html" target="_blank">Bowling Final Score</a>
                        <a href="Pages/SponsorIndex.html" target="_blank">Sponsor</a>
                        <a href="#portfolio" class="scroll">Portfolio</a>
                        <a href="#about" class="scroll">About Us</a>
                        <a href="#contact" class="scroll">Contact</a>
                    </nav>
                </div>-->
                <script src="js/classie.js"></script>
                <!--<script>
                    var menuLeft = document.getElementById('cbp-spmenu-s1'),
                        showLeft = document.getElementById('showLeft'),
                        body = document.body;

                    showLeft.onclick = function () {
                        classie.toggle(this, 'active');
                        classie.toggle(menuLeft, 'cbp-spmenu-open');
                        disableOther('showLeft');
                    };
                    function disableOther(button) {
                        if (button !== 'showLeft') {
                            classie.toggle(showLeft, 'disabled');
                        }
                    }
                </script>-->
                <!--- Navigation from Right To Left --->
                <div class="clearfix"> </div>
            </div>
           


            <div class="banner-info">
                <h3>SPORTS CAMPAIGN MANAGEMENT</h3>
                <div class="fig">
                    <span> </span>
                </div>
                <h3>We don't build hope we build futures</h3>
                <div class="start">
                    <a href="Pages/PlayerInsert.html" target="_blank">Register Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="container">
            <h1 style="color:white">Upcoming District Level Campaigns</h1>
            <div class="banner-bottom-left">
                
                    <div ng-controller="CampaignCtrl">
                        <div class="PageList">

                            <table class="table table-bordered PageList">

                                <tr>
                                    <td>Campaign Name</td>
                                    <td>Campaign Date</td>
                                    <td>Campaign Venue</td>
                                </tr>
                                <tr ng-repeat="cam in AllCampaigns">

                                    <td>{{cam.CampaignName}}</td>
                                    <td>{{cam.CampaignDate}}</td>
                                    <td>{{cam.CampaignVenue}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
              
            </div>
            <div class="banner-bottom-right">

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="banner-bottom-text-fig">
        <div class="container">
            <div class="begin">
                <div class="begin-left">
                    <h4>OUR BEGINNING</h4>
                    <p class="para2">CLOSER TO THE STARS</p>
                    <div class="fig1">
                        <span> </span>
                    </div>
                    <p class="para">
                        We are here since 2010. 
                        <span>
                            nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
                        </span><span>
                            eget tortor risus.Nulla porttitor accumsan tincidunt.Nulla
                            porttitor
                        </span>accumsan tincidunt.
                    </p>
                    <p class="para1">
                        Curabitur aliquet quam id dui posuere blandit.<span>
                            Nulla Quis lorum nisl tempus convallis quis ac lactus.Sed porttitor
                        </span>lactus nibh
                        eget tortor risus.Nulla porttitor accumsan tincidunt.
                    </p>
                    <a href="#portfolio" class="scroll">SEE PORTFOLIO</a>
                </div>
                <div class="begin-right">
                    <img src="images/1.jpg" alt=" " />
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- video -->
    <div class="video">

        <div class="container">
            <h1 class="NEW">Winner List</h1>
            <div ng-controller="PFBACtrl">
                <div ng-show="divBatsmanList">
                    <h2>Batsman List</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th>Player Id</th>
                            <th>Name</th>
                            <th>Final Score</th>
                            <th></th>
                        <tr ng-repeat="p in Players">
                            <td>{{p.PlayerId}}</td>
                            <td>{{p.PlayerName}}</td>
                            <td>{{p.FinalScore}}</td>
                            <td>
                                <input type="button" ng-click="getBatsmanDetails(p)" class="btn btn-primary" value="Details" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-show="divBatsmanDetails">
                    <table class="table table-bordered">
                        <tr>
                            <th>player Id</th>
                            <td ng-bind="PlayerId" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Player Name</th>
                            <td ng-bind="PlayerName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Father Name</th>
                            <td ng-bind="FatherName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>MotherName</th>
                            <td ng-bind="MotherName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>PlayerType</th>
                            <td ng-bind="PlayerType" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignVenue</th>
                            <td ng-bind="CampaignVenue" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignDate</th>
                            <td ng-bind="CampaignDate" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignLevel</th>
                            <td ng-bind="CampaignLevel" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball1Total</th>
                            <td ng-bind="Ball1Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball2 Total</th>
                            <td ng-bind="Ball2Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball3 Total</th>
                            <td ng-bind="Ball3Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball4 Total</th>
                            <td ng-bind="Ball4Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball5 Total</th>
                            <td ng-bind="Ball5Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball6 Total</th>
                            <td ng-bind="Ball6Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Final Score</th>
                            <td ng-bind="FinalScore"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <input type="button" value="Close" ng-click="Close()" class="btn btn-info" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-controller="PFBWCtrl">
                <div ng-show="divBowlerList">
                    <h2>Bowler List</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th>Player Id</th>
                            <th>Name</th>
                            <th>Final Score</th>
                            <th></th>
                        <tr ng-repeat="p in BWPlayers">
                            <td>{{p.PlayerId}}</td>
                            <td>{{p.PlayerName}}</td>
                            <td>{{p.FinalScore}}</td>
                            <td>
                                <input type="button" ng-click="getBowlerDetails(p)" class="btn btn-primary" value="Details" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-show="divBowlerDetails">
                    <table class="table table-bordered">
                        <tr>
                            <th>player Id</th>
                            <td ng-bind="PlayerId" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Player Name</th>
                            <td ng-bind="PlayerName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Father Name</th>
                            <td ng-bind="FatherName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>MotherName</th>
                            <td ng-bind="MotherName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>PlayerType</th>
                            <td ng-bind="PlayerType" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignVenue</th>
                            <td ng-bind="CampaignVenue" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignDate</th>
                            <td ng-bind="CampaignDate" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignLevel</th>
                            <td ng-bind="CampaignLevel" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball1Total</th>
                            <td ng-bind="Ball1Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball2 Total</th>
                            <td ng-bind="Ball2Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball3 Total</th>
                            <td ng-bind="Ball3Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball4 Total</th>
                            <td ng-bind="Ball4Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball5 Total</th>
                            <td ng-bind="Ball5Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Ball6 Total</th>
                            <td ng-bind="Ball6Total" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Final Score</th>
                            <td ng-bind="FinalScore"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <input type="button" value="Close" ng-click="Close()" class="btn btn-info" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-controller="PFALCtrl">
                <div ng-show="divALrounderList">
                    <h2>All Rounder List</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th>Player Id</th>
                            <th>Name</th>
                            <th>Total Score</th>
                            <th></th>
                        <tr ng-repeat="p in ALPlayers">
                            <td>{{p.PlayerId}}</td>
                            <td>{{p.PlayerName}}</td>
                            <td>{{p.TotalScore}}</td>
                            <td>
                                <input type="button" ng-click="getAllRounderDetails(p)" class="btn btn-primary" value="Details" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-show="divAllRounderDetails">
                    <table class="table table-bordered">
                        <tr>
                            <th>player Id</th>
                            <td ng-bind="PlayerId" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Player Name</th>
                            <td ng-bind="PlayerName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Father Name</th>
                            <td ng-bind="FatherName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>MotherName</th>
                            <td ng-bind="MotherName" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>PlayerType</th>
                            <td ng-bind="PlayerType" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignVenue</th>
                            <td ng-bind="CampaignVenue" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignDate</th>
                            <td ng-bind="CampaignDate" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>CampaignLevel</th>
                            <td ng-bind="CampaignLevel" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Batting Final Score</th>
                            <td ng-bind="BattingFinalScore" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Bowling Final Score</th>
                            <td ng-bind="BowlingFinalScore" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Total Score</th>
                            <td ng-bind="TotalScore" class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <input type="button" value="Close" ng-click="Close()" class="btn btn-info" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>



        <!--<h4>SEE OUR VIDEO</h4>
        <img src="images/2.jpg" alt=" ">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                        <span> </span>
                </a>

                    <!-- pop-up-box -->
        <script type="text/javascript" src="js/modernizr.custom.min.js"></script>
        <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
        <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
        <!--//pop-up-box -->
        <div id="small-dialog" class="mfp-hide">
            <iframe src="https://player.vimeo.com/video/106750217?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>
    </div>
    <!-- //video -->
    <!-- portfolio -->
    <div class="portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Starts Here -->
            <div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="project">
                <div class="portfolio-info">
                    <h3>PORTFOLIO</h3>
                    <p class="paragraph">SEE OUR BEST WORK SO FAR</p>
                    <div class="fig3">
                        <span> </span>
                    </div>
                    <p class="paragraph1">
                        Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet
                        <span>
                            nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
                            eget tortor risus.
                        </span>Nulla porttitor accumsan tincidunt.
                    </p>
                    <div class="strip"> </div>
                </div>
                <ul id="filters" class="clearfix">
                    <li><span class="filter active" data-filter="app card icon web">BRANDING</span></li>
                    <li><span class="filter" data-filter="app">PHOTOGRAPHY</span></li>
                    <li><span class="filter" data-filter="card">WEB DESIGN</span></li>
                    <li><span class="filter" data-filter="icon">APP DESIGN</span></li>
                </ul>

                <div id="portfoliolist">
                    <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/s-1.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
                                <img class="img-responsive" src="images/s-11.jpg" />
                                <div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/s-2.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
                                <img class="img-responsive" src="images/s-22.jpg" />
                                <div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/s-3.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
                                <img class="img-responsive" src="images/s-33.jpg" />
                                <div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/s-4.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
                                <img class="img-responsive" src="images/s-44.jpg" />
                                <div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio web mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/s-5.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
                                <img class="img-responsive" src="images/s-55.jpg" />
                                <div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio web mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="images/s-6.jpg" class="b-link-stripe b-animate-go  swipebox" title="">
                                <img class="img-responsive" src="images/s-66.jpg" />
                                <div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <link rel="stylesheet" href="css/swipebox.css">
            <script src="js/jquery.swipebox.min.js"></script>
            <script type="text/javascript">
                jQuery(function ($) {
                    $(".swipebox").swipebox();
                });
            </script>
            <!-- Portfolio Ends Here -->
            <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
            <script type="text/javascript">
                $(function () {
                    var filterList = {
                        init: function () {
                            // MixItUp plugin
                            // http://mixitup.io
                            $('#portfoliolist').mixitup({
                                targetSelector: '.portfolio',
                                filterSelector: '.filter',
                                effects: ['fade'],
                                easing: 'snap',
                                // call the hover effect
                                onMixEnd: filterList.hoverEffect()
                            });
                        },
                        hoverEffect: function () {
                            // Simple parallax effect
                            $('#portfoliolist .portfolio').hover(
                                function () {
                                    $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                                    $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                                },
                                function () {
                                    $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                                    $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                                }
                            );
                        }
                    };
                    // Run the show!
                    filterList.init();
                });
            </script>
        </div>
    </div>
    <!-- //portfolio -->
    <!-- portfolio-bottom -->
    <div class="portfolio-bottom">
        <div class="container">
            <!-- Slider-starts-Here -->
            <script src="js/responsiveslides.min.js"></script>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider3").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: false,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>
            <!--//End-slider-script -->
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="portfolio-bottom-info">
                            <div class="fig4">
                                <span> </span>
                            </div>
                            <h4>“I hated every minute of training,
                            but I said, ‘Don’t quit. Suffer now and live the rest of your life as a champion.'”</h4>
                            <p>Muhammad Ali</p>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-bottom-info">
                            <div class="fig4">
                                <span> </span>
                            </div>
                            <h4>Winning isn't everything, it's the only thing</h4>
                            <p>Vince Lombardi</p>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-bottom-info">
                            <div class="fig4">
                                <span> </span>
                            </div>
                            <h4>Show me a gracious loser and I'll show you a failure</h4>
                            <p>Knute Rockne</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Slider-ends-Here -->
        </div>
    </div>
    <!-- //portfolio-bottom -->
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <div class="portfolio-info">
                <h3>ABOUT US</h3>
                <p class="paragraph">WHO WE ARE</p>
                <div class="fig3">
                    <span> </span>
                </div>
                <p class="paragraph1">
                    Campaign is the world’s leading business media brand serving the marketing, advertising and media communities.
                    <span>
                        Campaign’s mission is to provide professionals from across the marketing, advertising and media communities with the creative firepower they need to attract and delight consumers. In doing so, we help strengthen brands and enhance their business success, as well as
                    advancing the careers of all those throughout the value chain who create the magic and turn it into profit.
                    </span>In particular, Campaign is championing the new breed of creative brand-builder – the people who are disrupting and re-shaping our industry – and exposing the mediocre advertising that turns off consumers and stirs them to download ad-blockers.
                </p>
            </div>
            <div class="about-grids">
                <div class="about-grid">
                    <img src="images/7.png" alt=" " />
                    <div class="img-bottom">
                        <p>NASIR HOSSAIN</p>
                    </div>
                </div>
                <div class="about-grid">
                    <img src="images/4.jpg" alt=" " />
                    <div class="img-bottom">
                        <p>TEAM BANGLADESH</p>
                    </div>
                </div>
                <div class="about-grid">
                    <img src="images/5.jpg" alt=" " />
                    <div class="img-bottom">
                        <p>MOSADDEK HOSSAIN</p>
                    </div>
                </div>
                <div class="about-grid">
                    <img src="images/6.jpg" alt=" " />
                    <div class="img-bottom">
                        <p>TAMIM IQBAL</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="about-grids-bottom">
                <div class="about-us">
                    <h4>ABOUT US</h4>
                    <p>
                        We’d like everyone to be part of Campaign too. Please participate by giving us feedback on our coverage, 
                        and suggest what else we might write about, or film, next. In the spirit of new breed thinking, t
                        he more we collaborate and experiment, the faster we’ll learn,
                        and the more vital and entertaining Campaign will become. Your support is essential.
                    </p>
                </div>
                <div class="about-us about-us-mid">
                    <h4>WHO WE ARE</h4>
                    <p>
                      Campaign’s mission is to provide professionals from across the marketing, advertising and media communities with the creative firepower they need to attract and delight consumers. In doing so, we help strengthen brands and enhance their business success, as well as
                        advancing the careers of all those throughout the value chain who create the magic and turn it into profit.
                    </p>
                </div>
                <div class="about-us">
                    <h4>WHY WE DO THIS</h4>
                    <p>
                        We find the best player from strach. 
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="video">
        <div class="container">
            <div class="col-md-5">
            Here the top moment of this campaign
            </div>
            <div class="col-md-offset-1 col-md-5">
                <video src="Videos/Asrhaful.mp4" controls></video>
            </div>
        </div>
    </div>
    <div class="Payment">
        <div class="container">
            <h2>Step by Step Payment System for Player Registration:</h2><br /><hr />
            <div class="fig3">
                <span> </span>
            </div>
            <p>Step 1: Dial *247#</p><br />
            <p>Step 2: Select 3</p><br />
            <p>Step 3: Enter Marchant Bkash wallet Number(01777777777)</p><br />
            <p>Step 4: Enter Amount(100)</p><br />
            <p>Step 5: Enter your name as Reference </p><br />
            <p>Step 6: Enter counter number 2</p><br />
            <p>Step:7: Enter your bkash pin number</p><br />
            <p>Step 8 : You will receive confimation sms</p><br />
         </div>
    </div>
    <div class="subscribe">
        <div class="container" ng-controller="SubscriberCtrl">
            <div class="sub-new">
                <h4>SUBSCRIBE TO OUR NEWSETTLER</h4>
                <form>
                    <input type="text" ng-model="Email" placeholder="EMAIL ADDRESS" required>
                    <input type="button" ng-click="insertData()" value="SUBSCRIBE">
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- contact -->
    <div class="contact" id="contact">
        <div class="container">
            <div class="portfolio-info">
                <h3>CONTACT US</h3>
                <p class="paragraph">WE LOVE TALKING</p>
                <div class="fig3">
                    <span> </span>
                </div>
                <p class="paragraph1">
                    For any kind of information you are full free to contact with us.
                    <!--<span>
                        nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
                        eget tortor risus.
                    </span>Nulla porttitor accumsan tincidunt.-->
                </p>
            </div>
            <div class="tv-home-call">
                <div class="tv">
                    <div class="figure">
                        <span> </span>
                    </div>
                    <a href="mailto:info@sportsmanagementcampaign.com">info@sportsmanagementcampaign.com</a>
                </div>
                <div class="tv tv-mid">
                    <div class="figure1">
                        <span> </span>
                    </div>
                    <p>317 Mirpur 2<span>Dhaka, 1216</span></p>
                </div>
                <div class="tv">
                    <div class="figure2">
                        <span> </span>
                    </div>
                    <p>+880-23-456-789</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.908612612994!2d90.38463261456175!3d23.750638084589312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8bb2839a75d%3A0x25a8fe599b893878!2sPeopleNTech+Software!5e0!3m2!1sen!2sbd!4v1535451762722" frameborder="0" style="border:0" allowfullscreen></iframe>              
            </div>
            <div class="contact-input" ng-controller="ContactCtrl">
                <div class="contact-input-left" >
                    <form>
                        <input type="text" class="form-control" ng-model="Subject" placeholder="Subject*" required>
                        <input type="text" class="form-control" ng-model="Name" placeholder="Name*" required>
                        <input type="text" class="form-control" ng-model="Email" placeholder="Email*" required>
                        
                    </form>
                </div>
                <div class="contact-input-right">
                    <form>
                        <textarea placeholder="Message"  ng-model="Message" required></textarea>
                        <input type="button" ng-click="insertData()" value="SUBMIT">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-icons">
                <ul>
                    <li><a href="http://www.facebook.com/SportsCampaignSystem" class="facebook"> </a></li>
                    <li><a href="http://www.twitter.com/SportsCampaignSystem" class="twitter"> </a></li>
                    <li><a href="http://www.plus.google.com/SportsCampaignSystem" class="g-plus"> </a></li>
                </ul>
            </div>
            <p>Design by <a href="http://asaduzzaman.me/">Group 2 </a></p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                    containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/Module/Module.js"></script>
    <script src="../Scripts/ViewModels/PlayerFinalBatting/PFBAService.js"></script>
    <script src="../Scripts/ViewModels/PlayerFinalBowling/PFBWService.js"></script>
    <script src="Scripts/ViewModels/PlayerAllrounder/PFALService.js"></script>
    <script src="../Scripts/ViewModels/PlayerFinalBatting/PFBController.js"></script>
    <script src="../Scripts/Campaign/CampaignService.js"></script>
    <script src="../Scripts/Employee/EmployeeService.js"></script>
    <script src="Scripts/Contact/ContactService.js"></script>
    <script src="Scripts/Subscribe/SubscribeService.js"></script>
    <script src="../Scripts/ViewModels/PlayerFinalBowling/PFBWController.js"></script>
    <script src="Scripts/ViewModels/PlayerAllrounder/PFALController.js"></script>     
    <script src="../Scripts/Campaign/CampaignController.js"></script>
    <script src="Scripts/Contact/ContactController.js"></script>
    <script src="Scripts/Subscribe/SubscribeController.js"></script>
</body>
</html>